[Desktop Entry]
Name=Epic Games Launcher
Exec=/opt/regataos-gcs/scripts/slide-functions/slide-function4
Type=Application
Categories=Game;
StartupNotify=true
Path=/opt/regataos-gcs/scripts/slide-functions
Icon=epicstore
StartupWMClass=epicgameslauncher.exe
Comment=Running game with Regata OS Game Access.
Comment[pt_BR]=Executando jogo com o Regata OS Game Access
Comment[en_US]=Running game with Regata OS Game Access.
GenericName=Running game with Regata OS Game Access.
GenericName[pt_BR]=Executando jogo com o Regata OS Game Access
GenericName[en_US]=Running game with Regata OS Game Access.
NoDisplay=true
