[Desktop Entry]
Categories=Game;Amusement;
Comment[pt_BR]=Acesse seus jogos do Windows no Regata OS
Comment[en_US]=Access your Windows games from Regata OS
Comment=Access your Windows games from Regata OS
Exec=regataos-gcs
GenericName[pt_BR]=Acesse seus jogos do Windows no Regata OS
GenericName[en_US]=Access your Windows games from Regata OS
GenericName=Access your Windows games from Regata OS
Icon=regataos-gcs
MimeType=
Name[pt_BR]=Regata OS Game Access
Name[en_US]=Regata OS Game Access
Name=Regata OS Game Access
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-Protocols=skype
StartupWMClass=Game Access
X-KDE-SubstituteUID=false
X-KDE-Username=
