@font-face {
  font-family: "Oxygen";
  src: url('./fonts/Oxygen.otf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #2a2e33;
}

* {
  color: white;
  letter-spacing: 0.05em;
  font-family: Oxygen;
  font-weight: 400;
}

a {
  text-decoration-line: none;
  font-family: 'Roboto', sans-serif;
  
  &.router-link-active span,
  &:hover span {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }

  &.router-link-active span {
    font-weight: 700;
  }
}

ol {
  list-style: none;
  padding-left: 0;
}