[Desktop Entry]
Exec=/opt/regataos-gcs/scripts/search-installeds.sh
OnlyShowIn=KDE;
Type=Service
MimeType=
Terminal=false
X-KDE-autostart-after=root
X-KDE-StartupNotify=false
X-KDE-autostart-condition=AutoStart:true
Icon=system-run
GenericName=regataosgcs-search-installeds
Name=regataosgcs-search-installeds
