[Desktop Entry]
Exec=sudo /opt/regataos-gcs/scripts/select-language
OnlyShowIn=KDE;
Type=Service
MimeType=
Terminal=false
X-KDE-autostart-after=root
X-KDE-StartupNotify=false
X-KDE-autostart-condition=AutoStart:true
Icon=system-run
GenericName=regataos-gcs-select-language
Name=regataos-gcs-select-language
