.title-top-box {
	width: 100%;
	float: left;
}

.title-top {
	position: relative;
	float: left;
    font-family: Roboto;
    font-size: 22px;
	font-weight: 300;
	margin-top: 100px;
	margin-left: 45px;
    margin-bottom: 50px;
	padding-top: 5px;
}

.title-top2 {
	position: relative;
	float: left;
    font-family: Roboto;
    font-size: 22px;
	font-weight: 500;
	margin-top: 100px;
	margin-left: 8px;
    margin-bottom: 50px;
	padding-top: 5px;
}

.view-more {
	position: absolute;
	top: 95px;
	right: 0;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
	border-radius: 3px;
	background-image: linear-gradient(to right, #36414d, #485563, #485563, #36414d);
	background-size: 300% 100%;
	transition: all .4s ease-in-out;
	margin-right: 45px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.view-more:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.view-more:active {
	background-image: linear-gradient(to right, #313d4a, #313d4a, #313d4a, #313d4a);
}

.blocks {
	width: 100%;
	float: left;
	padding-bottom: 30px;
	background-color: #2a2e33;
}

.blocks2 {
	position: relative;
    margin-top: 30px;
	margin-left: 245px;
	margin-bottom: 50px;
}

.blocks3 {
	display: block;
    position: relative;
	min-width: 692px;
	max-width: 1040px;
	margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.blocks4 {
	display: block;
    position: relative;
	min-width: 692px;
	max-width: 1040px;
	margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.app-block {
	position: relative;
	float: left;
    width: 310px;
    height: 240px;
	background-color: #262626;
	border-radius: 8px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	transition: all .4s;
	background-position: 50% 50%;
	background-size: auto 260px;
	background-repeat: no-repeat;
	margin-right: 8px;
    margin-left: 8px;
	margin-bottom: 20px;
	padding: 10px;
}

.app-block:hover {
	box-shadow: 0px -5px 5px 2px rgba(5, 87, 244, 0.8), 0px 4px 5px 2px rgba(5, 87, 244, 0.8), 0px 0px 5px 2px rgba(5, 87, 244, 0.8);
}

.app-block:hover > .block-play {
	opacity: 1 !important;
}

.block-text {
	position: absolute;
	bottom: 0;
    left: 0;
	width: 100%;
	background-color: rgba(4, 4, 4, 0.68);
	padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
	padding-bottom: 15px;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.block-title {
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 1.2em;
	margin-left: 10px;
}

.block-desc {
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2em;
	margin-left: 10px;
}

.block-play {
    position: absolute;
	width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
	opacity: 0;
	border-radius: 8px;
    font-family: 'Roboto', sans-serif;
	transition: all .4s;
	font-size: 17px;
    font-weight: 500;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	background-color: rgba(4, 4, 4, 0.61);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.block-play:hover {
	opacity: 1;
}

.play-box {
	display: none;
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: 0.1em;
	color: #beffcf;
	cursor: pointer;
	border-radius: 8px;
	background-image: linear-gradient(to right, #18dc52, #2ab388, #30dd8a, #2bb673);
	background-size: 300% 100%;
    transition: all .4s ease-in-out;
	width: 135px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.play-box:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.play-box:active {
	background-image: linear-gradient(to right, #169547, #169547, #169547, #169547);
}

.install-box {
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: 0.1em;
	color: #dbe8ff;
	cursor: pointer;
	border-radius: 8px;
	background-image: linear-gradient(to right, #0662f0, #309eff, #04befe, #3f86ed);
	background-size: 300% 100%;
    transition: all .4s ease-in-out;
	width: 165px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.install-box:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.install-box:active {
    background-image: linear-gradient(to right, #0956cc, #0956cc, #0956cc, #0956cc);
}

.play-button {
    width: 95px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.play-txt {
	float: right;
	text-align: right;
	width: 64px;
}

.install-txt {
    float: right;
    text-align: right;
    width: 98px;
}

.fa-play {
    color: #beffcf;
    margin-right: 6px;
    font-size: 17px;
    margin-bottom: 0px;
}

.fa-download {
    color: #dbe8ff;
    margin-right: 6px;
    font-size: 17px;
    margin-bottom: 0px;
}

/* Responsive CSS */
@-webkit-keyframes animatebottom {
    from { bottom:-30px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-30px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
