.title-top-box {
	width: 100%;
	float: left;
}

.title-top {
	position: relative;
	float: left;
    font-family: Roboto;
    font-size: 22px;
	font-weight: 300;
	margin-top: 100px;
	margin-left: 45px;
    margin-bottom: 50px;
	padding-top: 5px;
}

div.universal-title {
	transition: all .2s ease-in-out;
}

div.universal-account-title {
	width: 600px;
	margin-top: 100px;
	margin-left: 10px;
	transition: all .2s ease-in-out;
}

.title-top2 {
	position: relative;
	float: left;
    font-family: Roboto;
    font-size: 22px;
	font-weight: 500;
	margin-top: 100px;
	margin-left: 8px;
    margin-bottom: 50px;
	padding-top: 5px;
}

.page-buttons {
	position: absolute;
	top: 95px;
	right: 0;
}

.view-more {
	position: absolute;
	top: 95px;
	right: 0;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
	border-radius: 3px;
	background-image: linear-gradient(to right, #36414d, #485563, #485563, #36414d);
	background-size: 300% 100%;
	transition: all .4s ease-in-out;
	margin-right: 45px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.view-more:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.view-more:active {
	background-image: linear-gradient(to right, #313d4a, #313d4a, #313d4a, #313d4a);
}

.universal-login {
	display: none;
	position: relative;
	width: 250px;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	background-image: linear-gradient(to right, #36414d, #485563, #485563, #36414d);
	background-size: 300% 100%;
	transition: all .4s ease-in-out;
	margin-top: 25%;
    margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.universal-login:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.universal-login:active {
	background-image: linear-gradient(to right, #313d4a, #313d4a, #313d4a, #313d4a);
}

.remove-account {
	float: left;
    position: relative;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	cursor: pointer;
	border-radius: 3px;
    background-image: linear-gradient(to right, #cc121a, #ee4248, #df4247, #cc121a);
	background-size: 300% 100%;
	transition: all .4s ease-in-out;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.remove-account:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.remove-account:active {
    background-image: linear-gradient(to right, #9d0c12, #9d0c12, #9d0c12, #9d0c12);
}

.page-buttons .universal-more {
	float: left;
    position: relative;
    top: 0px;
	margin-right: 15px;
}

.universal-more {
	display: none;
}

.blocks {
	width: 100%;
	float: left;
	padding-bottom: 30px;
}

.blocks2 {
	position: relative;
    margin-top: 30px;
	margin-left: 245px;
	margin-bottom: 50px;
}

.blocks3 {
	display: block;
    position: relative;
	min-width: 692px;
	max-width: 1040px;
	margin-left: auto;
    margin-right: auto;
}

.game-access-blocks {
	display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blocks3-universal {
	display: block;
    position: relative;
	min-width: 692px;
	max-width: 1040px;
	margin-left: auto;
    margin-right: auto;
}

.universal-all-games {
	display: none;
}

.loading {
    display: none;
    position: relative;
    width: 110px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.loader {
    border: 10px solid #36414d;
    border-radius: 50%;
    border-top: 10px solid #485563;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-games {
    display: none;
	position: relative;
	width: 400px;
	text-align: center;
    font-family: Roboto;
    font-size: 22px;
	font-weight: 300;
	margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: .5s;
    animation-name: animatebottom;
    animation-duration: .5s;
}

.blocks4 {
	display: block;
    position: relative;
	min-width: 692px;
	max-width: 1040px;
	margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inner-blocks {
	float: left;
    position: relative;
	width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.app-block {
	position: relative;
	float: left;
    width: 310px;
    height: 240px;
	background-color: #262626;
	border-radius: 5px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	background-position: 50% 50%;
	background-size: auto 260px;
	background-repeat: no-repeat;
	margin-right: 8px;
    margin-left: 8px;
	margin-bottom: 20px;
	padding: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.app-block:hover {
	box-shadow: 0px -5px 5px 2px rgba(5, 87, 244, 0.8), 0px 4px 5px 2px rgba(5, 87, 244, 0.8), 0px 0px 5px 2px rgba(5, 87, 244, 0.8);
}

.app-block:hover > .block-play {
	opacity: 1 !important;
}

.universal-title {
	display: none;
}

.universal-installed-title {
	display: none;
}

.universal-account-title {
	display: none;
}

.app-block-universal {
	position: relative;
	float: left;
    width: 330px;
    height: 260px;
	background-color: #262626;
	border-radius: 5px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	background-position: 50% 50%;
	background-size: auto 260px;
	background-repeat: no-repeat;
	margin-right: 8px;
    margin-left: 8px;
	margin-bottom: 20px;
	padding: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.app-block-universal:hover {
	box-shadow: 0px -5px 5px 2px rgba(5, 87, 244, 0.8), 0px 4px 5px 2px rgba(5, 87, 244, 0.8), 0px 0px 5px 2px rgba(5, 87, 244, 0.8);
}

.app-block-universal:hover > .block-play-universal {
	opacity: 1 !important;
}

.block-text {
	position: absolute;
	bottom: 0;
    left: 0;
	width: 100%;
	background-color: rgba(4, 4, 4, 0.68);
	background-image: url(./../images/games-backg/steam/steam.jpg);
    background-position: 50% 50%;
    background-size: auto 260px;
    background-repeat: no-repeat;
	padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
	padding-bottom: 10px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.block-text-universal {
	position: absolute;
	bottom: 0;
    left: 0;
	width: 100%;
	background-color: rgb(4, 4, 4, 0.37);
	background-image: url(./../images/games-backg/steam/steam.jpg);
    background-position: 50% 50%;
    background-size: auto 260px;
    background-repeat: no-repeat;
	padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
	padding-bottom: 10px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.block-text-universal:hover > .block-play-universal {
	opacity: 1 !important;
}

.block-title {
	width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight: 400;
	max-width: 29ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	margin-bottom: 0px;
	line-height: 1.2em;
	margin-left: 10px;
	margin-bottom: 5px;
}

.block-text-universal .block-title {
	margin-bottom: 10px;
}

.block-desc {
	float: left;
    font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2em;
	margin-top: 5px;
	margin-left: 10px;
}

.block-text-universal .block-desc {
	margin-top: 5px;
}

.native-game {
	float: right;
	height: 17px;
	background-color: #1d2e40;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 10px;
	margin-bottom: 2px;
	padding: 5px;
}

.native-game-img {
    float: left;
	width: 17px;
    height: 17px;
    background-image: url(./../images/native-game.png);
    background-position: 50% 50%;
    background-size: auto 18px;
    background-repeat: no-repeat;
}

.native-game-desc {
	float: left;
    color: #9099a1;
    margin-top: 1px;
    margin-right: 0px;
    margin-left: 5px;
}

.block-play {
    position: absolute;
	width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
	opacity: 0;
	border-radius: 5px;
    font-family: 'Roboto', sans-serif;
	transition: all .4s;
	font-size: 17px;
    font-weight: 500;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	background-color: rgba(4, 4, 4, 0.61);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.block-play:hover {
	opacity: 1;
}

.universal-game-img {
	position: absolute;
    float: left;
    width: 330px;
    height: 175px;
    background-color: #262626;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .4s;
    background-size: auto 180px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.epicstore-game-img {
    background-size: 103% auto;
}

.block-play-universal {
    position: absolute;
	width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
	opacity: 0;
	border-radius: 5px;
    font-family: 'Roboto', sans-serif;
	transition: all .4s;
	font-size: 17px;
    font-weight: 500;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	background-color: rgba(4, 4, 4, 0.61);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.block-play-universal:hover {
	opacity: 1;
}

.play-box-universal {
	display: block;
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: 0.1em;
	color: #beffcf;
	cursor: pointer;
	border-radius: 5px;
	background-image: linear-gradient(to right, #18dc52, #2ab388, #30dd8a, #2bb673);
	background-size: 300% 100%;
    transition: all .4s ease-in-out;
	width: 135px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.play-box-universal:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.play-box-universal:active {
	background-image: linear-gradient(to right, #169547, #169547, #169547, #169547);
}

.play-box {
	display: none;
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: 0.1em;
	color: #beffcf;
	cursor: pointer;
	border-radius: 5px;
	background-image: linear-gradient(to right, #18dc52, #2ab388, #30dd8a, #2bb673);
	background-size: 300% 100%;
    transition: all .4s ease-in-out;
	width: 135px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.play-box:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.play-box:active {
	background-image: linear-gradient(to right, #169547, #169547, #169547, #169547);
}

.install-box-universal {
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: 0.1em;
	color: #dbe8ff;
	cursor: pointer;
	border-radius: 5px;
	background-image: linear-gradient(to right, #0662f0, #309eff, #04befe, #3f86ed);
	background-size: 300% 100%;
    transition: all .4s ease-in-out;
	width: 165px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.install-box-universal:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.install-box-universal:active {
    background-image: linear-gradient(to right, #0956cc, #0956cc, #0956cc, #0956cc);
}

.install-box {
    font-family: 'Roboto', sans-serif;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
    letter-spacing: 0.1em;
	color: #dbe8ff;
	cursor: pointer;
	border-radius: 5px;
	background-image: linear-gradient(to right, #0662f0, #309eff, #04befe, #3f86ed);
	background-size: 300% 100%;
    transition: all .4s ease-in-out;
	width: 165px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.install-box:hover {
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}

.install-box:active {
    background-image: linear-gradient(to right, #0956cc, #0956cc, #0956cc, #0956cc);
}

.play-button {
    width: 95px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.play-txt {
	float: right;
	text-align: right;
	width: 64px;
}

.install-txt {
    float: right;
    text-align: right;
    width: 98px;
}

.fa-play {
    color: #beffcf;
    margin-right: 6px;
    font-size: 17px;
    margin-bottom: 0px;
}

.fa-download {
    color: #dbe8ff;
    margin-right: 6px;
    font-size: 17px;
    margin-bottom: 0px;
}

.remove-game-button {
    margin: 12px 10px 0px 0px;
    position: relative;
    float: right;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.remove-game-button {
    margin: 12px 13px 0px 0px;
}

.fa-trash-alt {
    transition: all .2s ease-in-out;
    font-size: 20px;
}

.fa-trash-alt:active {
    font-size: 18px;
}

/* Responsive CSS */
@-webkit-keyframes animatebottom {
    from { bottom:-30px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-30px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
