
/* Check network CSS */
.networkoff {
    display: none;
	width: 700px;
    margin-top: 150px;
    padding-left: 245px;
	margin-left: auto;
	margin-right: auto;
}

.networkoff-img {
    width: 200px;
    height: 160px;
    background-position: 50% 50%;
    background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.networkoff-title {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: 
    #fff;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-align: center;
	margin-bottom: 5px;
}

.networkoff-desc {
    color: 
    hsla(0,0%,100%,.5);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    letter-spacing: .01rem;
    text-align: center;
}
