@media screen and (max-width: 2560px) {
	/* bar */
	#block-home .block-title {
		font-size: 19px;
	}
	#block-home .text-app {
		font-size: 19px;
	}
	.text-app-top {
		font-size: 20px;
	}
	.description-top {
		font-size: 19px;
	}
	/* page launchers */
	.title-top {
		margin-left: 50px;
		font-size: 30px;
	}
	.view-more {
		margin-right: 300px;
		font-size: 20px;
	}
	.page-buttons {
		margin-right: 300px;
	}
	.remove-account {
		font-size: 20px;
	}
	.blocks3 {
		max-width: 2080px;
	}
	.blocks3-universal {
		max-width: 2080px;
	}
	.blocks4 {
		max-width: 2080px;
	}
	/* slide */
	.slideshow {
		height: 790px;
	}
	.slideshow .slides {
		height: 765px;
	}
	.slideshow .slide .image-container {
		height: 1150px;
	}
	.slideshow .slide .text {
		font-size: 30px;
	}
	.btn {
		font: 18px/1.2 "Oxygen", sans-serif;
	}
	/* blocks home */
	.home-blocks .title-top {
		margin-left: 20px;
	}
	.appbc1 {
		width: 800px !important;
		height: 450px !important;
	}
	.appbc1 .block-text {
		height: 80px;
		padding-top: 30px;
	}
	.appbc2 .block-text {
		height: 80px;
		padding-top: 30px;
	}
	.appbc3 .block-text {
		height: 80px;
		padding-top: 30px;
	}
	.home-blocks3 .app-block {
		width: 600px;
		height: 450px;
	}
	.appbc1 .block-title {
		font-size: 25px;
	}
	.appbc1 .block-desc {
		font-size: 20px;
	}
	.appbc2 .block-title {
		font-size: 25px;
	}
	.appbc2 .block-desc {
		font-size: 20px;
	}
	.appbc3 .block-title {
		font-size: 25px;
	}
	.appbc3 .block-desc {
		font-size: 20px;
	}
}

@media screen and (max-width: 2351px) {
	.blocks3 {
    	max-width: 1735px;
	}
	.blocks3-universal {
    	max-width: 1735px;
	}
}

@media screen and (max-width: 2000px) {
	.blocks3 {
    	max-width: 1385px;
	}
	.blocks3-universal {
    	max-width: 1385px;
	}
}

@media screen and (max-width: 1921px) {
	/* bar */
	#block-home .block-title {
		font-size: 14px;
	}
	#block-home .text-app {
		font-size: 16px;
	}
	.text-app-top {
		font-size: 18px;
	}
	.description-top {
		font-size: 16px;
	}
	/* page launchers */
	.title-top {
		margin-left: 150px;
		font-size: 20px;
	}
	.view-more {
		margin-right: 150px;
		font-size: 17px;
	}
	.page-buttons {
		margin-right: 150px;
	}
	.remove-account {
		font-size: 17px;
	}
	.blocks3 {
		max-width: 1385px;
	}
	.blocks3-universal {
    	max-width: 1385px;
	}
	.blocks4 {
		max-width: 1385px;
	}
	/* slide */
	.slideshow {
		height: 595px;
	}
	.slideshow .slides {
		height: 570px;
	}
	.slideshow .slide .image-container {
		height: 850px;
	}
	.slideshow .slide .text {
		font-size: 20px;
	}
	.btn {
		font: 13px/1.2 "Oxygen", sans-serif;
	}
	/* blocks home */
	.home-blocks .title-top {
		margin-left: 20px;
	}
	.appbc1 {
		width: 600px !important;
		height: 350px !important;
	}
	.appbc1 .block-text {
		height: 70px;
		padding-top: 30px;
	}
	.appbc2 .block-text {
		height: 70px;
		padding-top: 30px;
	}
	.appbc3 .block-text {
		height: 70px;
		padding-top: 30px;
	}
	.home-blocks3 .app-block {
		width: 450px;
		height: 350px;
	}
	.appbc1 .block-title {
		font-size: 20px;
	}
	.appbc1 .block-desc {
		font-size: 17px;
	}
	.appbc2 .block-title {
		font-size: 20px;
	}
	.appbc2 .block-desc {
		font-size: 17px;
	}
	.appbc3 .block-title {
		font-size: 20px;
	}
	.appbc3 .block-desc {
		font-size: 17px;
	}
}

@media screen and (max-width: 1643px) {
	.blocks3 {
    	max-width: 1038px;
	}
	.blocks3-universal {
    	max-width: 1038px;
	}
}

@media screen and (max-width: 1441px) {
	/* page launchers */
	.title-top {
		margin-left: 86px;
	}
	.view-more {
		margin-right: 86px;
	}
	.page-buttons {
		margin-right: 86px;
	}
	.blocks3 {
		max-width: 1038px;
	}
	.blocks3-universal {
    	max-width: 1038px;
	}
	.blocks4 {
		max-width: 1030px;
	}
	/* slide */
	.slideshow {
		height: 470px;
	}
	.slideshow .slides {
		height: 450px;
	}
	.slideshow .slide .image-container {
		height: 650px;
	}
	/* blocks home */
	.appbc1 {
		width: 420px !important;
		height: 270px !important;
	}
	.appbc1 .block-text {
		height: 70px;
		padding-top: 15px;
	}
	.home-blocks3 .app-block {
		width: 300px;
		height: 270px;
	}
	.appbc2 .block-text {
		height: 70px;
		padding-top: 15px;
	}
	.appbc3 .block-text {
		height: 70px;
		padding-top: 15px;
	}
}

@media screen and (max-width: 1420px) {
	/* page games gcs */
	.content-box {
		max-width: 1000px;
	}

	.post-box {
		width: 60%;
	}
}

@media screen and (max-width: 1366px) {
	/* page launchers */
	.title-top {
		margin-left: 45px;
	}
	.view-more {
		margin-right: 45px;
	}
	.page-buttons {
		margin-right: 45px;
	}
	.blocks3 {
		max-width: 1040px;
	}
	.blocks3-universal {
    	max-width: 1040px;
	}
	.blocks4 {
		max-width: 1040px;
	}
	/* blocks home */
	.home-blocks .title-top {
		margin-left: 30px;
	}
	.appbc1 {
		width: 400px !important;
		height: 250px !important;
	}
	.appbc1 .block-text {
		height: 70px;
		padding-top: 15px;
	}
	.home-blocks3 .app-block {
		width: 280px;
		height: 250px;
	}
	.appbc2 .block-text {
		height: 70px;
		padding-top: 15px;
	}
	.appbc3 .block-text {
		height: 70px;
		padding-top: 15px;
	}
}

@media screen and (max-width: 1291px) {
	/* page launchers */
	.blocks3 {
		max-width: 692px;
	}
	.blocks3-universal {
    	max-width: 692px;
	}
	.blocks4 {
		max-width: 692px;
	}
	/* blocks home */
	.home-blocks .title-top {
		margin-left: 20px;
	}
	.appbc1 .block-text {
		height: 85px;
		padding-top: 15px;
	}
	.home-blocks3 .app-block {
		width: 220px;
		height: 220px;
	}
	.appbc2 .block-text {
		height: 85px;
		padding-top: 15px;
	}
	.appbc3 .block-text {
		height: 85px;
		padding-top: 15px;
	}
}
