@media screen and (max-width: 2360px) {
	.blocks3, .blocks4, .inner-blocks {
		grid-template-columns: auto auto auto auto auto;
	}
}

@media screen and (max-width: 2220px) {
	.blocks3, .blocks4, .inner-blocks {
		grid-template-columns: auto auto auto auto;
	}
}

@media screen and (max-width: 2048px) {
	/* slide */
	.slideshow {
		height: 595px;
	}
	.slideshow .slides {
		height: 570px;
	}
	.slideshow .slide .image-container {
		height: 850px;
	}
	.slideshow .slide .text {
		font-size: 20px;
	}
	.btn {
		font: 13px/1.2 "Oxygen", sans-serif;
	}

	/* home game blocks */
	.home-blocks .app-block,
	.home-blocks .appbc1 {
		height: 350px;
	}
}

@media screen and (max-width: 1860px) {
	/* blocks home */
	.home-blocks .app-block,
	.home-blocks .appbc1 {
		height: 300px;
	}

	.blocks3, .blocks4, .inner-blocks {
		width: 97%;
	}
}

@media screen and (max-width: 1441px) {
	/* slide */
	.slideshow {
		height: 470px;
	}
	.slideshow .slides {
		height: 450px;
	}
	.slideshow .slide .image-container {
		height: 650px;
	}

	/* blocks home */
	.home-blocks .app-block,
	.home-blocks .appbc1 {
		height: 250px;
	}

	.home-blocks .block-text {
		min-height: 104px;
		padding: 15px;
	}
}

@media screen and (max-width: 1420px) {
	/* page games gcs */
	.content-box {
		max-width: 1000px;
	}
	.post-box {
		width: 60%;
	}
	#hardware-minimum {
		width: 275px;
	}
	#hardware-recommended {
		width: 275px;
	}

	.blocks3, .blocks4, .inner-blocks {
		grid-template-columns: auto auto auto;
	}
}

@media screen and (max-width: 1220px) {
	.slideshow .slide .caption {
		margin-top: 140px;
	}

	.slideshow .slide .text {
		max-width: 500px;
	}

	.blocks3, .blocks4, .inner-blocks {
		grid-template-columns: auto auto;
	}

	.appbc1 {
		width: 100%;
	}
}

@media screen and (max-width: 1175px) {
	#search input#field {
		width: 0px;
	}

	#search input.submit {
		display: none;
	}
}

@media screen and (max-width: 1080px) {
	.home-blocks3 {
		display: block;
	}

	.home-blocks .app-block {
		float: left;
		width: 49%;
		margin-top: 25px;
    	margin-right: 0px;
		margin-bottom: 50px;
	}

	.home-blocks .app-block:last-child {
		float: right;
	}

	.home-blocks .appbc1 {
		width: 100%;
		height: 350px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
