@media screen and (max-width: 2560px) {
	/* bar */
	#block-home .block-title {
		font-size: 19px;
	}
	#block-home .text-app {
		font-size: 19px;
	}
	.text-app-top {
		font-size: 20px;
	}
	.description-top {
		font-size: 19px;
	}
	/* slide */
	.slideshow {
		height: 790px;
	}
	.slideshow .slides {
		height: 765px;
	}
	.slideshow .slide .image-container {
		height: 1150px;
	}
	.slideshow .slide .text {
		font-size: 30px;
	}
	.btn {
		font: 18px/1.2 "Oxygen", sans-serif;
	}
}

@media screen and (max-width: 1921px) {
	/* bar */
	#block-home .block-title {
		font-size: 14px;
	}
	#block-home .text-app {
		font-size: 16px;
	}
	.text-app-top {
		font-size: 18px;
	}
	.description-top {
		font-size: 16px;
	}
	/* slide */
	.slideshow {
		height: 595px;
	}
	.slideshow .slides {
		height: 570px;
	}
	.slideshow .slide .image-container {
		height: 850px;
	}
	.slideshow .slide .text {
		font-size: 20px;
	}
	.btn {
		font: 13px/1.2 "Oxygen", sans-serif;
	}
}

@media screen and (max-width: 1441px) {
	/* slide */
	.slideshow {
		height: 470px;
	}
	.slideshow .slides {
		height: 450px;
	}
	.slideshow .slide .image-container {
		height: 650px;
	}
}

@media screen and (max-width: 1420px) {
	/* page games gcs */
	.content-box {
		max-width: 1000px;
	}
	.post-box {
		width: 60%;
	}
	#hardware-minimum {
		width: 275px;
	}
	#hardware-recommended {
		width: 275px;
	}
}
