.title-top {
    display: none;
}

.title-top2 {
    display: none;
}

.noresultsfound {
    display: none;
	width: 100%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.noresults-img {
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.noresults-title {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: 
    #fff;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-align: center;
	margin-bottom: 5px;
}

.noresults-desc {
    color: 
    hsla(0,0%,100%,.5);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.56rem;
    letter-spacing: .01rem;
    text-align: center;
}

.show-element {
    display: block !important;
}
