.config-option {
    position: relative;
    float: left;
    width: 700px;
    margin-left: 7px;
    border-bottom: 2px solid #48505a;
    margin-right: auto;
    margin-bottom: 30px;
}

.config-option-title {
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 5px;
}

.config-option-desc {
    font-family: Roboto;
    font-size: 16px;
}

.checkbox-fps-hud {
    float: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

.checkbox-amd-fsr {
    width: 180px;
    margin-left: 5px;
}

.checkbox-auto-close {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin-top: 0px;
    margin-left: 5px;
}

.option-settings-desc {
    font-size: 17px;
    font-family: Roboto;
    line-height: 1.4em;
}

.checkmark-settings {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #383e42;
    margin-top: 0px;
    transition: all .3s;
    border-radius: 2px;
}

.checkbox:hover input ~ .checkmark-settings {
    background-color: #43494d;
}

.checkbox input:checked ~ .checkmark-settings {
    background-color: #0078f2;
}

.checkbox:hover input:checked ~ .checkmark-settings {
    background-color: #1087ff;
}

.checkbox:active input:checked ~ .checkmark-settings {
    background-color: #383e42;
}

.checkmark-settings:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark-settings:after {
    display: block;
}

.checkbox .checkmark-settings:after {
    left: 7px;
    top: 4px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.option-fps-hud-enabled,
.option-amd-fsr-enabled,
.option-auto-close-enabled {
    display: block;
}

/* Select fps hud position */
.option-fps-hud-desc {
    margin-bottom: 15px;
}

#show-fps-hud-options {
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
    transition: all .3s;
}

#fps-position,
#fps-hud-preview,
#fps-hud-position {
    float: left;
    cursor: pointer;
    background-color: #383e42;
    border: 0px;
    border-radius: 3px;
    padding: 3px 15px;
    padding-bottom: 2px;
    margin-left: 5px !important;
    text-align: center;
    height: 36px;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    font-family: Roboto;
    line-height: 1.4em;
    font-weight: 300;
    transition: all .3s;
}

#fps-hud-preview {
    margin-left: 10px !important;
}

#fps-hud-preview:hover,
#fps-hud-position:hover {
    background-color: #43494d;
    border: 0px;
}

#fps-position {
    display: none;
    left: 175px;
    width: auto;
    height: auto;
    padding: 10px 0px;
    position: absolute;
    z-index: 1000;
    border-radius: 3px;
    cursor: auto;
    background-color: #383e4291;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    transition: all .3s;
}

#fps-position div {
    padding: 12px 20px;
    transition: all .3s;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    transition: all .3s;
}

.division-options {
    cursor: auto !important;
    margin: 10px 10px !important;
    padding: 0 !important;
    border-bottom: 2px solid #495054;
}

#fps-position div:focus,
#fps-position div:hover {
    background-color: #43494d;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

#fps-hud-appearance-title {
    font-size: 17px;
    font-family: Roboto;
    line-height: 1.4em;
}

#fps-hud-appearance {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
}

#fps-hud-appearance-main {
    display: flex;
    width: 100%;
    position: relative;
}

#fps-hud-appearance input {
    position: relative;
    -webkit-appearance: none;
    width: 400px;
    height: 8px;
    float: left;
    border-radius: 5px;
    background: linear-gradient(to right, #0078f2 65%, #48505a 50%);
    outline: none;
}

#fps-hud-appearance input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 3px;
}

#fps-hud-appearance ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 5px;
}

#fps-hud-appearance .lines-range {
    width: 100%;
    float: left;
    height: 26px;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
}

#fps-hud-appearance .lines-range li {
    display: inline-block;
    height: 20px;
    width: 7px;
    background-color: #48505a;
    border-radius: 3px;
}

#fps-hud-appearance ul li {
    display: inline-block;
    margin-left: 117px;
}

#fps-hud-appearance ul li:first-child {
    display: inline-block;
    margin-left: 0px;
}

#fps-hud-appearance .lines-number {
    width: 100%;
    float: left;
}

#fps-hud-appearance .lines-number li {
    font-size: 17px;
    font-family: Roboto;
    line-height: 1.4em;
    font-weight: 700;
}

#fps-hud-look-name {
    position: relative;
    width: auto;
    float: left;
    margin-left: 10px;
}

.triangle-div {
    display: inline-block;
    margin-right: 50px;
    position: absolute;
    top: -4px;
}

.triangle-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid #383e42; 
}

#look-name {
    position: relative;
    top: -20px;
    background-color: #383e42;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 10px;
    width: auto;
    text-align: center;
}

#input-range-div {
    width: 400px;
}
